<header class="admin-header">

    <div class="left-section">

        <div class="logo-wrapper">

            <div class="logo">
                S
            </div>

            <div class="brand-info">
                <h2>ShopSphere Admin</h2>
                <span>Inventory Management Platform</span>
            </div>

        </div>

    </div>

    <div class="right-section">

        <button class="action-btn">
            🔔
        </button>

        <button class="action-btn">
            ⚙️
        </button>

        <div class="profile-card">

            <div class="avatar">
                M
            </div>

            <div class="profile-info">

                <strong>
                    Muthulakshmi B
                </strong>

                <small>
                    System Administrator
                </small>

            </div>

        </div>

    </div>

</header>